.navbar-container{
    height: 6vh;
    border-bottom: 1px solid rgb(100, 100, 100);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.568) 10%,rgba(0, 0, 0, 0) 80%)
}

.navbar{
    margin-top: 10px;
    height: 100%;
    
    right: 0;
}

.logo img{
    height: 24px;
    position: fixed;
    left: 10vh;
    
}

.nav-items{
    width: 40%;
    position: fixed;
    right: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.icon-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

.nav-items ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.nav-items ul li{
    list-style: none;
    font-size: .8rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.nav-items ul .link:hover{
    color: rgb(110, 110, 110);
}

li::after{
    height: 5px;
    width: 20px;
    background-color: red;
}

.nav-link:hover{
    color: grey;
}

.nav-link:active{
    color: red;
}

@media only screen and (max-width: 700px){
    .logo img{
        left: 2vh;
    }

    .nav-items{
        right: 2vh;
        width: 70%;
    }

    .nav-items li{
        justify-content: space-between;
        width: 100%;
    }
    .links{
        width: 70%;
    }

    .icon-links{
        width: 25%;
    }


}